<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script defer src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <div class="container my-5">
        <div class="row my-5">
            <div class="col-3">
                <div class="card">
                    <img src="https://picsum.photos/300/200" alt="idk lmao">
                    <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                </div>
            </div>
            
            <div class="col-3">
                <div class="card">
                    <div class="card-header">Card Header</div>
                    <div class="card-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quod, saepe et 
                        est adipisci cupiditate ipsa neque amet sunt maiores perspiciatis reiciendis 
                        iusto officiis ea architecto suscipit fugiat, vel labore.
                    </div>
                    <div class="card-footer">Card Footer</div>
                </div>
            </div>
            
            <div class="col-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <img src="https://picsum.photos/200/300" alt="" class="col-md-4 img-fluid rounded-start">

                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis corrupti veritatis recusandae consectetur sapiente eius suscipit blanditiis?
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum laudantium autem expedita facilis totam?</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="card-group">
                    <div class="card">
                        <img src="https://picsum.photos/300/200" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Card Header</h5>

                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti quaerat, odio aspernatur, voluptatibus quibusdam nulla asperiores vero necessitatibus impedit animi ipsa voluptas earum deserunt culpa, totam dolor esse corporis cum.</p>

                            <p class="card-text">
                                <small class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum modi corporis omnis, magni doloribus non repellendus alias explicabo, labore maiores aliquid praesentium deleniti! Ea quod ratione cum ipsum minima velit.</small>
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="https://picsum.photos/300/200" alt="" class="card-img-top">

                        <div class="card-body">
                            <h5 class="card-title">Card Title</h5>

                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam vel nostrum repudiandae voluptas aspernatur assumenda eos quaerat commodi et debitis eligendi saepe harum nulla reprehenderit ullam, pariatur quos quae! Sed.</p>

                            <p class="card-text">
                                <small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nihil cum maiores rem, velit ipsam repudiandae libero, et maxime consectetur iusto neque eum dolor, sunt quibusdam adipisci fuga eius iure!</small>
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <img src="https://picsum.photos/300/200" alt="" class="card-img-top">

                        <div class="card-body">
                            <h5 class="card-title">Card Title</h5>

                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam vel nostrum repudiandae voluptas aspernatur assumenda eos quaerat commodi et debitis eligendi saepe harum nulla reprehenderit ullam, pariatur quos quae! Sed.</p>

                            <p class="card-text">
                                <small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nihil cum maiores rem, velit ipsam repudiandae libero, et maxime consectetur iusto neque eum dolor, sunt quibusdam adipisci fuga eius iure!</small>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>

                    <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio consectetur recusandae, libero dolorem ratione necessitatibus nulla ex distinctio repudiandae, culpa adipisci natus quia expedita eum. Ullam totam cumque dolorem a.</p>
                        <p class="card-text"><small class="text-white-50">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus rerum expedita excepturi tempore assumenda? Fuga repellendus dignissimos consequatur cupiditate repellat illo placeat ratione enim commodi vitae. Perspiciatis voluptas ut reprehenderit.</small></p>
                    </div>
                </div>
            </div>
            
            <div class="col-3">
                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>

                    <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio consectetur recusandae, libero dolorem ratione necessitatibus nulla ex distinctio repudiandae, culpa adipisci natus quia expedita eum. Ullam totam cumque dolorem a.</p>
                        <p class="card-text"><small class="text-white-50">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus rerum expedita excepturi tempore assumenda? Fuga repellendus dignissimos consequatur cupiditate repellat illo placeat ratione enim commodi vitae. Perspiciatis voluptas ut reprehenderit.</small></p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>

                    <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio consectetur recusandae, libero dolorem ratione necessitatibus nulla ex distinctio repudiandae, culpa adipisci natus quia expedita eum. Ullam totam cumque dolorem a.</p>
                        <p class="card-text"><small class="text-white-50">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus rerum expedita excepturi tempore assumenda? Fuga repellendus dignissimos consequatur cupiditate repellat illo placeat ratione enim commodi vitae. Perspiciatis voluptas ut reprehenderit.</small></p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>

                    <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio consectetur recusandae, libero dolorem ratione necessitatibus nulla ex distinctio repudiandae, culpa adipisci natus quia expedita eum. Ullam totam cumque dolorem a.</p>
                        <p class="card-text"><small class="text-white-50">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus rerum expedita excepturi tempore assumenda? Fuga repellendus dignissimos consequatur cupiditate repellat illo placeat ratione enim commodi vitae. Perspiciatis voluptas ut reprehenderit.</small></p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row my-5">
            <div class="col-12">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>

                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sequi libero nulla ipsam numquam voluptatibus in voluptate dolores suscipit voluptas laudantium beatae rerum reiciendis neque, obcaecati fuga debitis temporibus adipisci.</p>
                        <p class="card-text"><small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem facere, necessitatibus, provident sunt facilis in quas amet exercitationem corporis, magni reprehenderit molestias eum tempora odio aspernatur quam laborum possimus similique.</small></p>
                    </div>
                </div>

                <div class="card border-secondary text-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>

                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sequi libero nulla ipsam numquam voluptatibus in voluptate dolores suscipit voluptas laudantium beatae rerum reiciendis neque, obcaecati fuga debitis temporibus adipisci.</p>
                        <p class="card-text"><small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem facere, necessitatibus, provident sunt facilis in quas amet exercitationem corporis, magni reprehenderit molestias eum tempora odio aspernatur quam laborum possimus similique.</small></p>
                    </div>
                </div>

                <div class="card border-danger text-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>

                    <div class="card-body">
                        <h5 class="card-title">Title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sequi libero nulla ipsam numquam voluptatibus in voluptate dolores suscipit voluptas laudantium beatae rerum reiciendis neque, obcaecati fuga debitis temporibus adipisci.</p>
                        <p class="card-text"><small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem facere, necessitatibus, provident sunt facilis in quas amet exercitationem corporis, magni reprehenderit molestias eum tempora odio aspernatur quam laborum possimus similique.</small></p>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
</body>
</html>